
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <style>
  .top-leftname {
  position: fixed;
  top: 300px;
  left: 260px;
  text-transform: uppercase;
  letter-spacing: 3px;
  }
  .top-leftcourse {
    position: absolute;
    top: 410px;
    left: 260px;
    text-transform: uppercase;
    letter-spacing: 5px;
    }

  </style>

    <title>Hello, world!</title>
  </head>
  <body>
  {{!-- <section> --}}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner" style="height: 600px;">
      <div class="carousel-item active p-5">
        <img class="d-block w-100 img-responsive" src="https://i.ibb.co/Kcgb9tN/Certificate-of-Completion-Horizontal-Template-1.png" alt="First slide" height="600px" width="900px" >
        <div class="top-leftname"><h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{this.fname}} {{this.lname}}</h1></div>
        <div class="top-leftcourse"><h4 style="font-family:monospace;">{{this.course}}</h4></div>
      </div>
    </div>
  </div>
{{!-- </section> --}}

    
  </body>
</html>
